/* ✅ Primeiro vem os @import */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import "tailwindcss";

/* ✅ Depois vem o @theme */
@theme {
  --font-sans: "Play", sans-serif;

  --color-brown1: #5C432D;
  --color-brown2: #A38A74;
  --color-beige: #D9C0AC;
  --color-brown3: #241105;
  --color-grayblack: #131313;
}

/* ✅ Depois os estilos globais */
html {
  font-family: var(--font-sans);
}